*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Outfit', sans-serif;
  color: #6e7891;
  line-height: 1.667em;
  font-weight: 700;
background-position: 40px center;
}
img{
   width: 100%;
}
hr{
  opacity: 0.4;
  font-weight: 200;
  margin-top:10px;
}
